* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 15px;
  background: #333;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.form-container {
  max-width: 350px;
  margin: auto;
}

.form-group {
  margin: 7.5px 0;
}

label {
  display: block;
}

.form-group input {
  padding: 5px;
  font-size: inherit;
  font-style: inherit;
  width: 100%;
}

.btn {
  display: inline-block;
  border: none;
  background: #333;
  color: white;
  padding: 7.5px 20px;
  font-size: inherit;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.text-center {
  text-align: center;
}

.users-container {
  max-width: 350px;
  margin: auto;
}

.single-user {
  background: #f4f4f4;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.single-user:hover {
  background: grey;
}

.green-dot {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
  float: left;
}

.task-input {
  width: 70px;
  padding: 5px;
  border-radius: 5px;
  /* border: 1px solid grey; */
  border: none;
  background: #f4f4f4;
  font-size: 30px;
  font-style: inherit;
  text-align: right;
}

.py-10 {
  margin: 10px 0;
}

.font-30 {
  font-size: 30px;
}

.task-messages {
  width: 100%;
  /* overflow: scroll; */
}

.task-message {
  background: lightseagreen;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.notification-element {
  max-width: 350px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* height: 100px; */
}

/* Points */
.points {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 1.7rem;
}

.points-bobber {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.bobbing-off {
  font-size: 1.4rem;
  height: 90%;
  width: 90%;
}

.bobbing {
  font-size: 1.4rem;
  /* color: lightseagreen; */
  height: 100%;
  width: 100%;
}

.bg-light {
  background: goldenrod;
  padding: 15px;
}
